{% autoescape None %}
<!DOCTYPE html>
<html lang="zh">
<head>
	<title>作品列表 - 3DRender</title>
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
</head>
    <style>
        h1 span{font-size: 0.8em; font-weight: lighter; overflow:hidden; max-height:30px;}
        h1 p.title{font-size: 0.65em; font-weight: lighter;color:#333; overflow:hidden; }
        .desc{
            max-height: 30px;
            overflow: hidden;font-size: 0.6em;margin-top: 3px;font-weight: lighter;}
    </style>
<script>
    $(document).ready(function(){
       $('.work').css('height',$('.work').css('width'));
    });
</script>
<body>
    {% include header.html %}

	<section class="main clearfix">
        {% if not sharing %}

        {% else %}
        {% for s in sharing %}
		<div class="work">
			<a href="/viewDetail/{{ s['fid'] }}">
				<img src="{{ s['preview'] }}" class="media" alt=""/>
                <div class="caption">
                    <div class="work_title" style="top: 30%;">
                        <h1>
                            <p class="title">作品名称</p><span>{{ s['fname'] }}</span><br><br>
                            <p class="title">作者</p><span>{{ s['id'] }}</span><br><br>
                            <p class="title">作品描述</p><div class="desc">{{ s['description'] }}</div><br><br>
                            <p class="title">上传时间</p><span>{{ s['date'].strftime('%Y-%m-%d  %H:%M:%S') }}</span>
                        </h1>
                    </div>
                </div>
			</a>
		</div>
        {% end %}{#end for#}
        {% end %}{# end if#}
	</section><!-- end main -->
	
</body>
</html>