<!DOCTYPE html>
<html lang="zh">
<head>
	<title>作品列表 - 3DRender</title>
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
</head>
<style>
    span{margin-right: 5px;font-size: 0.75em; font-weight: lighter; overflow:hidden;}
</style>
<body>
    {% include header.html %}

	<section class="main clearfix">
        {% if not sharing %}

        {% else %}
        {% for s in sharing %}
		<div class="work">
			<a href="inner.html">
				<img src="{{ s['preview'] }}" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1><span>作者</span>{{ s['id'] }}<br><br><span>{{ s['description'] }}</span></h1>
					</div>
				</div>
			</a>
		</div>
        {% end %}{#end for#}
        {% end %}{# end if#}
	</section><!-- end main -->
	
</body>
</html>