<!DOCTYPE html>
<html lang="en">
<head>
	<title>登陆 - 3DRender</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <link rel='shortcut icon' href='/static/images/favicon.ico'>
    <script>
        $(document).ready(function(){
            $('#login').attr('class','selected');
            $('#submit').click(function(){
                $('aside').css('display','none');
                var id=$('#name').val();
                var pwd=$('#password').val();
                var flag=0;
                if(id==""){
                    flag+=1;
                    $('#name').after('<aside><p>请输入用户名&nbsp;｡◕‿◕｡</p></aside>');
                    $('aside').css('width',$('#name').width()-15);
                }
                if(pwd=="") {
                    flag += 1;
                    $('#password').after('<aside><p>请输入密码&nbsp;ლ(╹◡╹ლ )</p></aside>');
                    $('aside').css('width', $('#password').width() - 15);
                }
                if(!flag){
                    $.ajax({
                        url:window.location.href,
                        type:'post',
                        dataType:'json',
                        data:{
                            'id':id,
                            'pwd':pwd,
                        },
                        success:function(data){
                            if(data.result=='success'){
                                window.location.href='/user';
                            }
                            else{
                                window.location.href='/error/'+data.result+'/';
                            }
                        }
                    })
                }
            });
            $(window).load(function(){
                if($('#menu_icon').css('display')=='block'){
                    $('input').css('width','100%');
                    $('.pure-button').css('width','49%');
                }
                else{
                    $('input').css('width','67%');
                    $('.pure-button').css('width','33%');
                }
            });
            $(window).resize(function(){
                if($('#menu_icon').css('display')=='block'){
                    $('input').css('width','100%');
                    $('.pure-button').css('width','49%');
                }
                else{$('input').css('width','67%');
                    $('.pure-button').css('width','33%');
                }
            });
        });
    </script>
</head>
<body>
    {% include header.html %}

	<section class="main clearfix">
        <div class="form-signin">
		<div class="pure-form pure-form-stacked" style="padding-top: 100px;">
            <div class="form-control" style=" z-index: 1;">
                <label for="name">昵称</label>
                <input type="text" id="name" placeholder="请输入昵称" autofocus>
                <label for="password" style="margin-top: 2em;">登陆密码</label>
                <input type="password" id="password" placeholder="请输入密码" >
                <div style="margin-top: 20px;" class="pure-form pure-form-stacked">
                    <button class="pure-button pure-button-primary" id="submit">登陆</button>
                    <a class="pure-button pure-button-primary" style="background: rgb(66, 184, 221); " href="/signup">注册</a>
                </div>
            </div>
        </div>
{#        <img class="bg" src="/static/images/3drender.png" style="max-width: 300px;margin-top:40px;filter:alpha(opacity=5); /*IE滤镜，透明度50%*/-moz-opacity:0.05; /*Firefox私有，透明度50%*/opacity:0.05;/*其他，透明度50%*/ z-index: 0;">#}
	    </div>
    </section><!-- end main -->
	
</body>
</html>