<!DOCTYPE html>
<html lang="zh">
<head>
	<title>分享模型 - 3DRender</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/signup.js"></script>
    <script>
        $(document).ready(function(){
            $('#share').attr('class','selected');
            $(window).load(function(){
                if($('#menu_icon').css('display')=='block'){
                    $('input').css('width','100%');
                    $('.pure-button').css('width','100%');
                }
                else{
                    $('input').css('width','67%');
                    $('.pure-button').css('width','30%');
                }
            });
            $(window).resize(function(){
                if($('#menu_icon').css('display')=='block'){
                    $('input').css('width','100%');
                    $('.pure-button').css('width','100%');
                }
                else{
                    $('input').css('width','67%');
                    $('.pure-button').css('width','30%');
                }
            });

            $('#submiting').click(function(){
                $('#submit').trigger('click');
            });
            $('#choosefile').click(function(){
                $('#file').trigger('click');
            });
        })
    </script>
    <style>
        aside {
            height: 23px;
        }
    </style>
</head>
<body>

	{% include header.html %}

	<section class="main clearfix">

		<section class="top">
			<div class="wrapper content_header clearfix">
				<h1 class="title">分享模型<label style="float: right;margin-left: 20px;">Shareing my model</label></h1>
			</div>
		</section><!-- end top -->

		<section class="wrapper">
			<div class="content form-signin" style="margin-top:40px;max-width: 5000px;">
                <div class="pure-form pure-form-stacked">
                    <form action="" enctype="multipart/form-data" method="post">
                        <label for="file">选择要分享的模型～</label>
                        <input type="file" name="sharefile" id="file" style="opacity: 0;z-index: 1;width: 100%;" hidden required/>
                        <button class="pure-button pure-button-primary" style="z-index:-1; background: #FFCC22;" id="choosefile">请选择导出过的模型文件(′・ω・`)</button>
                        <input type="text" name="id" hidden value="{{ uid }}">
                        <input type="text" name="platform" hidden value="0">
                        <input type="submit" id="submit" style="display: none;">
                        <div style="margin-top: 30px;" class="pure-form pure-form-stacked">
                            <button class="pure-button pure-button-primary" style="background: rgb(66, 184, 221);" id="submiting">确认分享</button>
                        </div>
                    </form>
                </div>
			</div><!-- end content -->
		</section>
	</section><!-- end main -->

</body>
</html>