{% autoescape None %}
<!DOCTYPE html>
<html lang="zh">
<head>
	<title>{{ user['id'] }}的主页 - 3DRender</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/pure.min.css">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script>
        $(document).ready(function(){

            $('#user').attr('class','selected');
            $('.work').css('height',$('.work').css('width'));
            $(window).load(function(){
                if($('#menu_icon').css('display')=='block'){
                    $('#button').attr('class','pure-u-1');
                    $('#button').css('margin-top','40px');
                    $('#pic').css('width', '100%');
                    $('aside').css('width', $('work').width+30);
                    $('#shared').css('margi','20px auto');
                    $('#pic').attr('class','pure-u-1');
                    $('.pure-button').css('width','100%');
                    $('.pure-button').css('max-width','none');
                }
                else{
                    $('#button').attr('class','pure-u-2-5');
                    $('#button').css('margin-top','0px');
                    $('#shared').css('margin','0px 70px');
                    $('aside').css('width', $('work').css('width'));
                    $('#pic').css('width', '100px');
                    $('#pic').attr('class','pure-u-1-5');
                    $('.pure-button').css('width','100%');
                    $('.pure-button').css('max-width','200px');
                }
            });
            $(window).resize(function(){
                if($('#menu_icon').css('display')=='block'){
                    $('#button').attr('class','pure-u-1');
                    $('#button').css('margin-top','40px');
                    $('#pic').css('width', '100%');
                    $('aside').css('width', $('work').width+30);
                    $('#shared').css('margin','20px auto');
                    $('#pic').attr('class','pure-u-1');
                    $('.pure-button').css('width','100%');
                    $('.pure-button').css('max-width','none');
                }
                else{
                    $('#button').attr('class','pure-u-2-5');
                    $('#button').css('margin-top','0px');
                    $('#shared').css('margin','0px 70px');
                    $('aside').css('width', $('work').css('width'));
                    $('#pic').css('width', '100px');
                    $('#pic').attr('class','pure-u-1-5');
                    $('.pure-button').css('width','100%');
                    $('.pure-button').css('max-width','200px');
                }
            });
        })
    </script>
    <style>
         .desc{
            max-height: 30px;
            overflow: hidden;font-size: 0.6em;margin-top: 3px;font-weight: lighter;}
         h1 span{font-size: 0.8em; font-weight: lighter; overflow:hidden; height:15px;}
         h1 p.title{font-size: 0.65em; font-weight: lighter;color:#333; overflow:hidden; }
    </style>
</head>
<body>

	{% include header.html %}

	<section class="main clearfix">

		<section class="content">
            <div id="intro" style="margin:-60px 40px;">
                <p style="text-align: center;"><br></p>
                <div class="pure-g">
                    <div class="pure-u-1-5" id="pic" style="margin-bottom: 20px;">
                        <a href="/setPortrait"><img src="{{ user['image'] }}" style="border-radius: 5px; border: 3px solid #FFFACD;"></a>
                    </div>
                    <div id="intro" class="pure-u-2-5" style="font-weight: bold;font-size: 12px; min-width: 290px;">
                        <div class="pure-u-1-3" style="color:#444444; min-width: 180px;">
                            <label style="float: right;margin-right: 10px;">昵称</label><br>
                            <label style="float: right;margin-right: 10px;">我的电子邮箱</label><br>
                            <label style="float: right;margin-right: 10px;">已经分享的模型数目</label>
                        </div>
                        <div class="pure-u-1-3">
                            <span>{{ user['id'] }}</span><br>
                            <span>{{ user['email'] }}</span><br>
                            <span>0</span>
                        </div>
                    </div>

                    <div class="pure-u-2-5" id="button" style="margin-bottom: 20px;">
                        <a href="/chooseWhich" class="pure-button pure-button-primary" style="background: #33CCFF;">分享作品</a>
                        <a href="/changeprofile" class="pure-button pure-button-primary">修改我的资料</a>
                    </div>
                </div>
                <div>
                    <h4>个人介绍</h4>
                    <p>{% if not user['description'] %}还没有填写个人介绍哦○(・x・){% else %}{{ user['description'] }}{% end %}</p>
                </div>
            </div>
		</section>
        <div id="shared">
            {% if not sharing %}
            <div style="color:#333; min-width: 400px;margin-bottom: 20px; background: #fff; border-bottom: 3px solid #FFFACD;"><h3>{{ uid }}还没有分享的作品哦 (｡･ω･｡)</h3></div>
            {% else %}
                <div style="color:#333; min-width: 260px;margin-bottom: 20px; background: #fff; border-bottom: 3px solid #FFFACD;"><h3>{{ uid }}分享的作品 (｡+･`ω･`)</h3></div>
                {% for s in sharing %}
                <div class="work" style="max-width: 290px;">
                    <a href="/viewDetail/{{ s['fid'] }}">
                        <img src="{{ s['preview'] }}" class="media" style="max-width: 290px;" alt=""/>
                        <div class="caption">
                            <div class="work_title" style="top: 33%;">
                                <h1>
                                    <p class="title">作品名称</p><span>{{ s['fname'] }}</span><br><br>
                                    <p class="title">上传时间</p><span>{{ s['date'].strftime('%Y-%m-%d  %H:%M:%S') }}</span><br><br>
                                    <p class="title">作品描述</p><div class="desc">{{ s['description'] }}</div>
                                </h1>
                            </div>
                        </div>
                    </a>
                </div>
                {% end %}
            {% end %}
        </div>
	</section><!-- end main -->
	
</body>
</html>